*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.navbar{
  height: 100px;
  background-color: #e88925;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadImg{
  width: 75px;
}